<app-header title="Lista de Comidas"></app-header>

<ion-content>
  <div class="date-selector">
    <ion-item>
      <ion-label>Selecciona una fecha</ion-label>
      <ion-datetime [(ngModel)]="selectedDate" (ionChange)="onDateChange($event)"></ion-datetime>
    </ion-item>
  </div>


  <ion-button expand="block" color="primary" (click)="presentAddMealAlert()">
    Añadir Nuevo Menú
  </ion-button>

  <div *ngIf="!meals.length" class="no-meals">
    No hay comidas disponibles para esta fecha.
  </div>

  <ion-list *ngIf="meals.length && !alreadySelected">
    <ion-item *ngFor="let meal of meals" (click)="confirmSelection(meal.id)">
      <ion-label>
        <h2>{{ meal.name }}</h2>
        <p>{{ meal.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="alreadySelected" class="meal-selected-overlay">
    <h2>Ya seleccionaste una comida para este día.</h2>
    <p>Comida seleccionada: {{ selectedMealName }}</p>
    <ion-button expand="block" color="danger" (click)="resetSelection()">Eliminar selección</ion-button>
  </div>
</ion-content>