<app-header [title]="'Lista de Empleados'"></app-header>

<ion-content [fullscreen]="true">
  <ion-toolbar class="main-toolbar">
    <ion-title>Lista de Empleados</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addEmployee()" color="primary" fill="solid">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Agregar Empleado
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="search-container">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filterEmployees($event)"
      placeholder="Buscar empleados..."
      animated
    ></ion-searchbar>
  </div>

  <div class="list-container">
    <ion-list>
      <ion-item
        *ngFor="let employee of filteredEmployees"
        class="employee-item"
      >
        <ion-label>
          <h2>{{ employee.name }} {{ employee.last_name }} {{ employee.second_last_name }}</h2>
          <p>{{ employee.username || 'Sin usuario' }}</p>
        </ion-label>

        <ion-buttons slot="end">
          <ion-button color="secondary" (click)="editEmployee(employee.id)" fill="clear">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="tertiary" (click)="viewFiles(employee.id)" fill="clear">
            <ion-icon name="document-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="confirmDelete(employee)" fill="clear">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
