<ion-menu contentId="main-content" side="start" menuId="main-menu">
  <ion-header>
    <ion-toolbar class="menu-header">
      <ion-title class="menu-title">
        <img src="assets/images/logo.png" alt="Logo de la empresa" class="logo" />
        Menú
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list class="menu-list">
      <ion-item class="menu-item" routerLink="/dashboard" routerDirection="root">
        <ion-icon slot="start" name="home" class="menu-icon"></ion-icon>
        <ion-label class="menu-label">Dashboard</ion-label>
      </ion-item>
      <ion-item class="menu-item" routerLink="/meals" routerDirection="root">
        <ion-icon slot="start" name="restaurant" class="menu-icon"></ion-icon>
        <ion-label class="menu-label">Comedor</ion-label>
      </ion-item>
      <ion-item class="menu-item" routerLink="/employees" routerDirection="root">
        <ion-icon slot="start" name="people" class="menu-icon"></ion-icon>
        <ion-label class="menu-label">Empleados</ion-label>
      </ion-item>
      <ion-item class="menu-item" routerLink="/payrolls" routerDirection="root">
        <ion-icon slot="start" name="wallet-outline" class="menu-icon"></ion-icon>
        <ion-label class="menu-label">Nominas</ion-label>
      </ion-item>
      <ion-item class="menu-item" routerLink="/reports" routerDirection="root">
        <ion-icon slot="start" name="stats-chart" class="menu-icon"></ion-icon>
        <ion-label class="menu-label">Reportes</ion-label>
      </ion-item>
      <ion-item class="menu-item" routerLink="/attendance" routerDirection="root">
        <ion-icon slot="start" name="calendar-outline" class="menu-icon"></ion-icon>
        <ion-label class="menu-label">Asistencia</ion-label>
      </ion-item>
    </ion-list>

    <ion-footer class="menu-footer">
      <ion-item class="menu-item" (click)="logout()">
        <ion-icon slot="start" name="log-out" class="menu-icon"></ion-icon>
        <ion-label class="menu-label">Cerrar Sesión</ion-label>
      </ion-item>
    </ion-footer>
  </ion-content>
</ion-menu>